<!DOCTYPE html>
<html land="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />

		<title>Greenalinman, pleased to green yo</title>
		u!!!
		<%= stylesheet_link_tag '/assets/application'  %>
		<%= javascript_include_tag '/assets/application'   %>
	</head>
	<body>
		<%= yield  %>
	</body>
	</html>
